@import "chatVariables.scss";



.chatInfo,
.chatInfo:hover {
  color: black;
  border-bottom: 1px solid rgb(128, 128, 128);
  text-decoration: none
}

.activeStyle,
.activeStyle:hover {
  color: blue;
  text-decoration: inherit
}


.avatar {
  border: 10px solid transparent;
  border-top: 5px solid transparent;
}

.chatHeaderAction {
  margin-left: auto;
}
.chatScrollViewCell {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}


.reverse {
  flex-flow: row-reverse nowrap;
}

.messageInfo {
  display: flex;
  flex-flow: column nowrap;
  border: 5px solid transparent;
}