@import "./common.blocks/app/app.scss";
@import "./common.blocks/chatApp/chatApp.scss";
@import "./common.blocks/navigation/navigation";
@import "./common.blocks/chatField/chatField";
@import "./common.blocks/chats/chats";
@import "./common.blocks/chatHeader/chatHeader";
@import "./common.blocks/chatMessages/chatMessages";
@import "./common.blocks/chatInputView/chatInputView";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  height: 100%;
  overflow: hidden;
}