.navigation__searchBar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: gray;
    border: 0px solid transparent;
    width: 100%;
    height: 100%;
}