@import "../../colors";

.chats__chatInfo {
    display: block;
    color: black;
    border-bottom: 1px solid $commonGrey;
    text-decoration: none
}

.chats__chatInfo:hover {
    color: white;
    background: $commonBlue;
    text-decoration: none;
}

.chats__chatInfo_activeStyle {
    color: white;
    background: $commonBlue;
}