@import "./chatField__chatScrollViewCell";
@import "./chatField__messageInfo";
@import "./chatField__date.scss";
@import "./chatField__message.scss";
@import "./chatField__name.scss";

.chatField {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}